.footer-social-menu {
  display: flex;
  justify-content: space-between;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  margin-right: 10px;

  @include transition;

  &:focus,
  &:hover {
    background-color: $background-icon;
  }
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: $white-color;
}
