.logo {
  margin-right: 93px;
  margin-top: 24px;
  margin-bottom: 25px;

  font-family: $logo-font;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: $black-color;
}

.logo-color {
  color: $primary-logo-color;
}
