@media not all,
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/Hero/Bg-mobile@2x.jpg');
  }
}

.hero {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #c4c4c4;
  margin: 0 auto;
  height: 400px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/Hero/Bg-mobile.jpg');

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.heading-hero {
  font-family: $main-font;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.623;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $white-color;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 360px;
}

// @media screen and (min-width: 320px) and (max-width: 767px) {
//   .hero {
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url('../../images/Hero/Bg-mobile.jpg');
//   }
// }

@media not all,
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/Hero/Bg-tablet@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/Hero/Bg-tablet.jpg');
  }
}

@media not all,
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/Hero/Bg-desktop@2x.jpg');
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/Hero/Img.jpg');
  }

  .heading-hero {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
    font-family: $main-font;
    font-weight: 900;
  }
}
// .heading-hero {
//   font-family: $main-font;
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.363;
//   text-align: center;
//   text-transform: uppercase;
//   letter-spacing: 0.06em;
//   max-width: 696px;
//   color: $white-color;
//   margin-bottom: 30px;
// }
