html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* body {
  font-family: $main-font;
  color: $primary-text-color;
  background-color: $main-background-color;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.navigation-list .current {
  color: $primary-active-color;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.no-padding {
  padding-bottom: 0;
}
