$primary-text-color: #757575;
$primary-heading-color: #212121;
$primary-active-color: #2196f3;
$primary-logo-color: #2196f3;
$white-color: #ffffff;
$black-color: #212121;

/* $$$$$- font $$$$$ */
$main-font: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;

/* $$$$$- background $$$$$ */
$main-background-color: #ffffff;
$secondary-background-color-hero: #2f303a;
$background-color-footer: #2f303a;
$background-color-team: #f5f4fa;
$background-btn-hero: #2196f3;
$background-color-portfolio-projects: #e5e5e5;
$background-color-btn: #f5f4fa;
$background-icon: #2196f3;

/* $$$$$$- border $$$$$ */
$border-color-project: #eeeeee;
